<html>

<head>
	<title>Magnus Cardell</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="/dist/public/favicon.ico" type="image/x-icon" />
	<script src="/dist/views/index.js" type="text/javascript"> </script>
	<link href="index.css" type="text/css" rel="stylesheet"/>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123232974-2"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-123232974-2');
	</script> -->
</head>

<body>
	<div class="container">
		<div id="console">
			<noscript>
				<p>This page requires javascript to work. Please enable and reload the page.</p>
			</noscript>
			<div class="terminal">
				<div class="toolbar">
					<div class="toolbar_buttons">
						<button class="toolbar_button toolbar_button--exit">&#10005;</button>
						<button class="toolbar_button">&#9472;</button>
						<button class="toolbar_button">&#9723;</button>
					</div>
					<p class="toolbar_user"> Magnus Cardell portfolio</p>
				</div>
				<div class="body">
					<div class="text" id="output"></div>
					<div class="oneline">
						<span class="prompt user" id="usr"></span>
						<span class="prompt directory" id="dir"></span>
						<span class="prompt dollarsign" id="ds">>&nbsp;</span>
						<span class="prompt text" id="lh"></span>
						<span class="prompt text cursor" id="pointer">&nbsp;</span>
						<span class="prompt text" id="rh"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>