<html>

<head>
	<title>Magnus Cardell</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

	<link href="favicon.ico" type="image/x-icon" />
	<script src="js/tba.js" type="module"> </script>
	<link href="css/tba.css" type="text/css" rel="stylesheet" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123232974-2"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-123232974-2');
	</script> -->
</head>

<body>
	<noscript>
		<p>This page requires javascript to work.</p>
	</noscript>
	<main>
		<window>
			<div class="window-image-section window-section">
				<terminal>
					<toolbar>
						<button class="toolbar_button toolbar_button--exit">&#10005;</button>
						<button class="toolbar_button">&#9472;</button>
						<button class="toolbar_button">&#9723;</button>
						<p class="toolbar_title"> Magnus Cardell portfolio</p>
					</toolbar>
					<output>
						<div class="text" id="output"></div>
						<div class="oneline">
							<span class="prompt user" id="usr"></span>
							<span class="prompt directory" id="dir"></span>
							<span class="prompt dollarsign" id="ds">>&nbsp;</span>
							<span class="prompt text" id="lh"></span>
							<span id="my_text_field" class="text_area" role="textbox" autofocus contenteditable
								tabindex="2"></span>
							<span class="prompt text cursor" id="pointer">&nbsp;</span>
							<span class="prompt text" id="rh"></span>
						</div>
					</output>
				</terminal>
			</div>
			<div class="window-description-section window-section">

			</div>
			<div class="window-title-section window-section">

			</div>
			<div class="window-nav-section window-section">

			</div>

		</window>

	</main>
</body>

</html>