@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --background-color: linear-gradient(45deg, #57003f 0%, #f57453 100%);
  --toolbar-color: linear-gradient(#504b45 0%, #3c3b37 100%);
  --text-color: #d5d0ce;
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}
.text_area {
	bottom: 0;
  font-family: "Ubuntu-mono", sans-ser;
  color: var(--text-color);
  font-weight: 400;
	height: auto;
	max-height: 82%;
	width: 97%;
	margin: 0 0 0 15px;
	padding: 0 0 10px 0;
	border: none;
	background-color: transparent;
	outline-width: 0;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
}

h1,
h2,
h3,
a,
p {
  font-family: "Ubuntu-mono", sans-ser;
  color: var(--text-color);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.terminal {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 878px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    
/* 
  min-width: 50vh;
  width: 50vh;
  height: 90%; */
}

.toolbar {
  background: var(--toolbar-color);
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  height: 25px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.toolbar_buttons {
  display: flex;
  align-items: center;
}

.toolbar_button {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  font-size: 7px;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  border: none;
  margin-right: 4px;

}

.toolbar_button:hover {
  cursor: pointer;
}

.oneline {
  display: left;
}

.toolbar_button--exit {
  background: #f25d2b;
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}

.toolbar_button:focus {
  outline: none;
}

.toolbar_user {
  color: #d5d0ce;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}

.body {
  background: rgba(56, 4, 40, .9);
  height: 100%;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 10px;
}

.text {
  color: #ddd;
}

.prompt {
  display: inline;
}

.user {
  color: #87d441;
}

.directory {
  color: #6d85a9;
}

.dollarsign {
  color: #ddd;
}

.cursor {
  height: 17px;
  width: 8px;
  position: absolute;
  background: white;
  animation: 500ms ease infinite alternate blink;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid yellowgreen;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: yellowgreen;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #88ba1c;
}