@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root{
  --background-color: linear-gradient(45deg, #57003f 0%, #f57453 100%);
  --toolbar-color: linear-gradient(#504b45 0%, #3c3b37 100%);
  --text-color: #d5d0ce;
  --error-color: linear-gradient(#f37458 0%, #de4c12 100%);
  --okay-color: linear-gradient(#7d7871 0%, #595953 100%);
  --terminal-background-color:  rgba(56, 4, 40, .9);
  --border-color: rgb(55, 81, 146);
}

h1,h2,h3,a,p,span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  margin: 0px;
}


body{
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

main{
  flex-grow: 1;
}

main > window {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > window > .window-section {
  height: 100%;
  overflow: hidden;
}

main > window > .window-description-section,
main > window > .window-nav-section {
  border-left: 1px solid var(--border-color);
}

main > window > .window-title-section,
main > window > .window-nav-section {
  border-top: 1px solid var(--border-color);
}

main > window > div > terminal {
  height: 100%;
}

main > window > div > terminal > toolbar {
  background: var(--toolbar-color);
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  height: 25px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.toolbar_button {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  font-size: 7px;
  background: var(--okay-color);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  border: none;
  margin-right: 4px;

}

.toolbar_button:hover {
  cursor: pointer;
}

.toolbar_button--exit {
  background: var(--error-color);
}

.toolbar_button:focus {
  outline: none;
}

.toolbar_title {
  padding: 0 4px;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}

main > window > div > terminal > output {
  background: var(--terminal-background-color);
  width: 100vh;
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 0 8px;

  /* overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 10px;
 
  display: inline-block; */
}
/* .oneline {
  display: left;
} */